@import "./normalize.scss";
@import "./variables.scss";

// Стили для корневого элемента
.keyboard {
	background-color: $secondary-color;
	border-radius: 0.5rem;
	width: $keyboard-width;
	margin: 2rem auto;
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
}

// Стили для строки клавиатуры
.keyboard-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;

	&:last-child {
		margin-bottom: 0;
	}
}

// Стили для кнопок клавиатуры
.key {
	background-color: $primary-color;
	color: $font-color;
	font-size: $font-size;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: darken($primary-color, 10%);
	}

	&.active {
		background-color: darken($primary-color, 20%);
	}

	&.spacer {
		flex-grow: 1;
		visibility: hidden;
	}

	&.wide {
		flex-basis: 75%;
	}
}
