@import './normalize.scss';
@import './variables.scss';

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.textarea {
	width: 75%;
	height: 10rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

// Стили для корневого элемента
.keyboard {
	background-color: $secondary-color;
	width: 75%;
	border-radius: 0.5rem;
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;

	&.capslock-pressed {
		.keyboard-key[data-action='CapsLock'] {
			background-color: rosybrown;
		}
	}
}

// Стили для строки клавиатуры
.keyboard-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;

	&:last-child {
		margin-bottom: 0;
	}
}

// Стили для кнопок клавиатуры
.keyboard-key {
	background-color: $primary-color;
	color: $font-color;
	font-size: $font-size;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	// text-align: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	position: relative;
	width: 3rem;
	height: 3rem;

	&[data-action] {
		background-color: teal;
		&::before {
			content: attr(data-key);
		}
	}

	&.capslock-pressed[data-action='CapsLock'] {
		background-color: rosybrown;
	}

	&[data-shiftkey]:not([data-keytype='letter'])::before {
		position: absolute;
		content: attr(data-shiftkey);
		font-size: 14px;
		top: 0;
		left: 0;
	}

	&[data-shiftkey]::after {
		position: absolute;
		content: attr(data-key);
		font-size: 25px;
		bottom: 0;
		right: 0.25rem;
	}

	&[data-shiftkey].uppercase::before {
		display: none;
	}

	&[data-shiftkey].uppercase::after {
		content: attr(data-shiftkey);
	}

	&:hover {
		background-color: darken($primary-color, 10%);
	}

	&.active {
		background-color: darken($primary-color, 20%);
	}
}
